<div class="row">
  <div id="conversations" class="col-3">
    <div class="scroll">
      <div class="list-group">
        <% @chats.each do |chat| %>
          <%= link_to(chat, class: "list-group-item") do %>
            <%= name_from_number(chat.identifiers) %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
