/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require rails_bootstrap_forms
 *= require_self
 */

@import "bootstrap";

.no-gutters {
  margin-right: 0;
  margin-left: 0;

  > .col, > [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
  }
}

#bed {
  height: 100vh;
  overflow: hidden;
}

.scroll {
  overflow-y: auto;
  overflow-x: hidden;
}

#conversations {
  .scroll {
    max-height: 100vh;
  }

  .list-group-item {
    small {
      white-space: nowrap;
      margin-left: 1rem;
    }

    h6, p {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

#chat {
  h1 {
    margin: 0;
    padding: 8px;
    border-bottom: 1px solid #eee;
  }

  #message-form {
    padding: 8px;
    border-top: 1px solid #eee;

    .form-row {
      width: 100%;
    }
  }

  table {
    width: 100%;
  }

  tr {
    border-bottom: 1px solid #eee;
  }

  td.sender {
    margin: 0;
    padding-left: 1rem;
    white-space: nowrap;
  }

  td.message {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 0.5rem;

    p {
      margin-bottom: 0.5rem;
    }
  }

  td.sent-at {
    color: green;
    min-width: 10rem;
    margin: 0;
    padding-right: 1rem;
    white-space: nowrap;
    text-align: right;
  }
}
